
*{
    font-family: "Fredoka", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(./img/back111.jpg);
    background-attachment: fixed;
}

.myButton{
    background: none;
    border: none;
    background: black;
    color: #FF6600;
    font-size: 1rem;
    padding: 15px;
    border-radius: 40px;
}


.myButton:hover{
    background-color: black;
    color: #F3E7E5;
}

.myTittle{
    font-size: 5rem;
    color: #D31234;
    margin-bottom: 50px;
    font-family: "Pacifico", cursive;
}

p{
    font-size: 1rem;
    color: black;
}

.myCard{
    height: 18rem;
    width: auto;
}

.myTittleCard{
    font-size: 1.5rem;
    color: #FF6600;
    font-family: "Pacifico", cursive;
}


@media(max-width:876px){
    .myTittle{
        font-size: 1.5rem;
        margin-bottom: 5px;
    }
}

.myImg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;

}

.carousel{
    margin-top: 4rem;
}

.myMargin{
margin-top: 22rem;
}

.myFooter{
    background-color: black;
    color: #FF6600;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100;
    margin: 0 auto;

}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
